#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.0.{build}

# branches to build
branches:
  # whitelist
  only:
    - master
  # blacklist
  except:
    - develop

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2015

# environment variables
environment:
  my_var1: value1
  my_var2: value2

# scripts that run after cloning repository
install:
  - echo Install Something

#---------------------------------#
#       build configuration       #
#---------------------------------#

# scripts to run before build
before_build:
  - echo Before Build

# to run your custom scripts instead of automatic MSBuild
build_script:
  - echo Build Something

# scripts to run after build (working directory and environment changes are persisted from the previous steps)
after_build:
  - echo After Build

# scripts to run *after* solution is built and *before* automatic packaging occurs (web apps, NuGet packages, Azure Cloud Services)
before_package:
  - echo Before Package

#---------------------------------#
#       tests configuration       #
#---------------------------------#

# scripts to run before tests (working directory and environment changes are persisted from the previous steps such as "before_build")
before_test:
  - echo Before Testscript1

# to run your custom scripts instead of automatic tests
test_script:
  - echo Do Test

# scripts to run after tests
after_test:
  - echo After Test

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

# providers: Local, FTP, WebDeploy, AzureCS, AzureBlob, S3, NuGet, Environment
# provider names are case-sensitive!
deploy:

# scripts to run before deployment
before_deploy:
  - echo Before Deploy

# scripts to run after deployment
after_deploy:
  - echo After Deploy

# to run your custom scripts instead of provider deployments
deploy_script:
  - echo Do Deploy

# to disable deployment
#deploy: off

#---------------------------------#
#        global handlers          #
#---------------------------------#

# on successful build
on_success:
  - echo Do Something on Success

# on build failure
on_failure:
  - echo Do Something on Failure

# after build failure or success
on_finish:
  - echo Do Something on Finish


#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:
